		<div class="home">

        <div class="flexslider">
          <ul class="slides">
            <li style="background-image: url('assets/images/carbg.jpg');"></li>
			<li style="background-image: url('assets/images/car2.jpg');"></li>
			<li style="background-image: url('assets/images/car3.jpg');"></li>
          </ul>
        </div>



			<div class="book-now-btn">
				<span>BOOK NOW</span>
			</div>

			<div class="home-icons">
				<ul>
					<li><img src="assets/images/icons/gps.png"></li>
					<li><img src="assets/images/icons/milleage.png"></li>
					<li><img src="assets/images/icons/guarantee.png"></li>
					<li><img src="assets/images/icons/free_delivery.png"></li>
					<li><img src="assets/images/icons/free_driver.png"></li>
				</ul>
			</div>
		</div>